</head>

<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="nav navbar-brand"><i class="glyphicon glyphicon-user"></i> Kai Davis</span>
            </div>
            <ul class="nav navbar-nav">
                    <li><a href="/" class="navText">Home</a></li>
                    <li><a href="/contact" class="navText">Contact</a></li>
                    <li><a href="/about" class="navText">About me </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login" class="navText">Login</a></li>                       
                <li><a href="/register" class="navText">Signup</a></li>                   
                <li><a href="/logout" class="navText">Sign Out</a></li>                       
            </ul>
        </div>
    </nav>