<% include ./partials/header %>
<% include ./partials/closing %>
<div class="container">
    <h1>About me</h1>
    <div class="jumbotron">
        <p></p>
    </div>
    <h1>Experience</h1>
    <div class="jumbotron">
        <ul class="list-group">
            <p>JavaScript</p>
        </ul>
    </div>
    <h1>Objectives</h1>
    <div class="jumbotron">
        <ul class="list-group">
            <p>Visual Studio</p>
        </ul>
    </div>
</div>
<% include ./partials/footer %>