<% include ./partials/header.ejs %>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome To My Website!</h1>
        <hr>
        <p>My name is Kai and I'm a full stack developer. On this website you can learn about me, view what I've worked on, read about my current project, and view my social media and other ways to contact me. Enjoy your time and explore my projects.</p>
    </div>
    <div class="favText"><h2>My Favorite Projects</h2></div>
    <hr>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/project/colorgame"><img src="/images/color.png"></a>
                <div class="caption">
                    <h3 class="projectName">Color Game</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/"><img src="https://i.ytimg.com/vi/Qo3OM5sPUPM/maxresdefault.jpg"></a>
                <div class="caption">
                    <h3 class="projectName">Project Name</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/"><img src="https://i.ytimg.com/vi/Qo3OM5sPUPM/maxresdefault.jpg"></a>
                <div class="caption">
                    <h3 class="projectName">Project Name</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/"><img src="https://i.ytimg.com/vi/Qo3OM5sPUPM/maxresdefault.jpg"></a>
                <div class="caption">
                    <h3 class="projectName">Project Name</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/"><img src="https://i.ytimg.com/vi/Qo3OM5sPUPM/maxresdefault.jpg"></a>
                <div class="caption">
                    <h3 class="projectName">Project Name</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/"><img src="https://i.ytimg.com/vi/Qo3OM5sPUPM/maxresdefault.jpg"></a>
                <div class="caption">
                    <h3 class="projectName">Project Name</h3>
                </div>
            </div>
        </div>
    </div>

</div>

<% include ./partials/footer.ejs %>