<% include ./partials/header %>
<% include ./partials/closing %>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the projects page</h1>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/images/color.png">
        </div>
    </div>
    <div class="col-md-8">
        <h3>Color Game</h3>
        <hr>
        <p1>Yo cuh this be my colur game</p1>
    </div>
</div>
<% include ./partials/footer %>