body {
    padding-top: 70px;
    font-family: 'Raleway', sans-serif;
}

.thumbnail {
    padding: 0;
    color: white;
    border-radius: 28px;
    border: 2px solid black;
    height: 260px;
}

.thumbnail img:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}

.thumbnail a>img { 
    border-radius: 25px 25px 0 0;
    height: 80%;
    margin: 0;
    width: 100%;
}

.projectName {
    margin-top: 0;
    text-align: center;
    padding-top: 3px;
    letter-spacing: 1px;
}

.jumbotron p {
    margin: auto;
}

hr{
    margin-top: 5px;
}

.jumbotron h1{
    margin: auto;
}
.container .jumbotron {
    border: 2px solid black;
    padding: 20px;
}

.container-fluid {
    background: white;
    border-bottom: solid black; 
    letter-spacing: 1px;
    font-weight: bold;
}

.navText {
    color: black;
}
