/* Body and navbar styles */
/*=================================================================================*/
body {
    padding-top: 70px;
    font-family: 'Raleway', sans-serif;
}

.container-fluid {
    background: white;
    border-bottom: solid black; 
    letter-spacing: 1px;
    font-weight: bold;
}

.navText {
    color: black;
}
/*=================================================================================*/
