<% include ../partials/header %>
    <!-- Load the Paper.js library -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.4/paper-full.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/circles.css">
    <script type="text/paperscript" src="/scripts/circles.js" canvas="myCanvas"></script>
<% include ../partials/closing %>
    <div class="container">
        <div id="jt" class="jumbotron">
            <h1>Circles app</h1>
            <hr>
            <p>This is the circles app</p>
        </div>
        <div class="alert alert-danger" role="alert"><strong>Warning!</strong> This project plays sounds so be sure to turn your volume down.</div>
        <canvas id="myCanvas" resize></canvas>
    </div>
<% include ../partials/footer %>