<% include ../partials/header %>
    <link rel="stylesheet" href="/stylesheets/color.css">
<% include ../partials/closing %>
    <div class="container">
        <div id="jt" class="jumbotron">
            <h2 id="jtText">The Color Game</h2>
            <hr>
            <p>Pretty simple game I made using JavaScript when I was taking my web development course. The goal of the game is to click on the square that matches the provided RGB. It's a simple game but it introduced a lot of key JacaScript concepts to me. The version that is here right now is a duplicate of the one I made when I was taking the course, I will add some functionality later including; a score keeper, a scoreboard, comments, and much more...</p>
        </div>
    </div>

    <div id="gameContainer"class="container">
        <h1 id="title">
            THE GREAT 
            <br>
            <span id = "colorDisplay">RGB</span>
            <br>
            COLOR GAME
        </h1>
        
        <div id = "stripe">
            <button id = "reset">NEW COLORS</button>
            <span id = "message"></span>
            <button class = "mode">Easy</button>
            <button class = "mode selected">Hard</button>
        </div>
        
        <div id="container">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
    </div>
    <script src="/scripts/colorgame.js"></script>
<% include ../partials/footer %>