<% include ../partials/header %>
    <!-- <jQuery  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- font awersome (icons)  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Change CSS link  -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/todoApp.css">
<% include ../partials/closing %>
    <div class="container">
        <div class="jumbotron">
            <h1>Muh fuckkin todo list</h1>
            <hr>
            <p>This shit do some crazy shit</p>
        </div>
    </div>
    <div id="container">
        <h1>TO-DO LIST<button><i class="fa fa-plus" aria-hidden="true"></i></button></h1>
        
        <input type="text" placeholder="Add New Todo">

        
        <ul class="trash">
            <li class="list"><span class="i"><i class="fa fa-trash" aria-hidden="true"></i></span> Go To Potions Class</li>
            <li class="list"><span class="i"><i class="fa fa-trash" aria-hidden="true"></i></span> Buy New Robes</li>
            <li class="list"><span class="i"><i class="fa fa-trash" aria-hidden="true"></i></span> Visit Hagrid</li>
        </ul>
    </div>


    <!-- Change JavaScript link  -->
    <script src="/scripts/todoApp.js"></script>
<% include ../partials/footer %>